#vim

*.swp
*.swo
*.swn
*~
# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/temp
/m4
/autom4te.cache
/aclocal.m4
/compile
/config.status
/config.log
/config.h
/configure
/depcomp
/install-sh
/missing
/stamp-h1
*~
/build*/
*/.libs/*
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
app.info
coverage_report
.autotools
config.guess
config.sub

libtool
ltmain.sh
